hs_err_pid*
*.pydevproject
.project
.metadata
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath
*.launch
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig
/log/**
/target/**
.gradle/**
*.jar
*.war
*.ear
Thumbs.db
Desktop.ini
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes
sh.exe.stackdump
/build/**
/bin/**
/spring_loaded/**
/deploy/**
/packages/**
/server/packages/**
**/out/**
/buildSrc/**
*.log
*.class
*.*~
*~
.merge_file*
.h2*
*.zip
